.appbar {
  position: fixed;
  top: 0;
  background-color: #161b22;
  font-size: 0.8rem;
  min-height: 40px;
  max-height: 100%;
}

.logo {
  color: #c9d1d9;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    flex-grow: 0;
  }
}

.navbar {
  margin: 0;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    box-sizing: border-box;
  }
  li {
    height: 40px;
    &:not(:last-child) {
      border-right: 1px solid #263238;
    }
  }
  a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    color: rgb(218, 213, 213);
  }
}
