@import "./styles/normalize.scss";

:root {
  --sidebar-color: #0d1117;
  --appbar-color: #161b22;
  --text-color: #c9d1d9;
  --btn-color: #238636;
}

html {
  padding-top: 40px;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* global classes */
.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/** fonts **/
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 100;
}
.font-normal {
  font-weight: 100;
}
.font-medium {
  font-weight: 100;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 100;
}
.font-extrabold {
  font-weight: 100;
}

.divider {
  border: none;
  height: 1px;
  background-color: #30363e;
  margin: 1rem 0;
}

/** form **/
.field {
  padding: 0.8rem;
  font-size: 1rem;
  display: block;
  width: 20rem;
  box-sizing: border-box;
  max-width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  margin: 0.4rem 0 0.8rem;
}

.submit-btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 2rem 0 0;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--btn-color);
  outline: none;
  border: 1px solid var(--btn-color);
  cursor: pointer;
  svg,
  span:nth-child(2) {
    color: #fff;
    margin-left: 4px;
  }
}

/** statuses **/
.error {
  color: #d32f2f;
}
.success {
  margin-bottom: 1rem;
  color: #238636;
}

/** table **/
.table {
  min-width: 50%;
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  tr {
    &:not(:last-child) {
      td,
      th {
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
  td,
  th {
    padding: 1rem;
  }
}

/** grid **/
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  box-sizing: border-box;
}

.card {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 0px 5px 5px 0px #eeeeee;
}

.card:first-child {
  grid-column: span 2;
}

.card:last-child {
  grid-column: span 2;
}

.card:nth-child(3) {
  grid-row: span 2;
}

.col-span-2 {
  grid-column: span 2;
}

.row-span-2 {
  grid-row: span 2;
}

/** spacing **/
$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .mx-#{$space} {
    margin-left: #{$space}rem;
    margin-right: #{$space}rem;
  }

  .my-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }

  .ml-#{$space} {
    margin-left: #{$space}rem;
  }

  .mr-#{$space} {
    margin-right: #{$space}rem;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }

  .mt-#{$space} {
    margin-top: #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .px-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }

  .py-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;
  }

  .pl-#{$space} {
    padding-left: #{$space}rem;
  }

  .pr-#{$space} {
    padding-right: #{$space}rem;
  }

  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }

  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
}

.mt-px {
  margin-top: 0.5rem;
}
.mb-px {
  margin-bottom: 0.5rem;
}
.mr-px {
  margin-right: 0.5rem;
}
.ml-px {
  margin-left: 0.5rem;
}

/** media query **/
@media screen and (max-width: 640px) {
  .table {
    width: 100%;
  }
  .field {
    width: 100%;
  }

  .card,
  .card:last-child {
    grid-column: span 4 / span 4;
  }
}
