.layout {
  display: flex;
}

.navigation {
  width: 20%;
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
  background-color: #0d1117;
  box-sizing: border-box;
  color: #c9d1d9;
  flex-shrink: 0;
}

.content {
  padding: 2rem;
  flex-grow: 1;
}

/** media query **/
@media screen and (max-width: 640px) {
  .layout {
    display: block;
  }
  .navigation {
    width: 100%;
    height: 100%;
  }
}
